# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.*
build/
dist/
*.log

# Node.js
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store

# Vite / React build outputs
dist
dist-ssr
*.local

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
